html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-size: 1.4rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    height: 100%;
    margin: 0;
    background-color: #f5f5f5;
}

a {
    color: black;
    font-style: italic;
}

a:visited {
    color: black;
}

.btn {
    font-family: 'Raleway', sans-serif;
    border: none;
    margin: 1rem;
    padding: .4rem;
    background-color: rgba(228, 228, 228, 0.8);
    transition: all ease-in .2s;
    cursor: pointer;
    font-weight: 500;
    display: block;
}

.btn:hover {
    transition: all .5s;
    background-color: rgba(228, 228, 228, 1);
}

#logo {
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color ease-in .2s;
    border-radius: 5%;
}

#logo:hover {
    transition: background-color ease-out .3s;
    background-color: rgba(228, 228, 228, 1);
}

#logo img {
    width: 2.5rem;
    margin: .4rem;
}

#photoContainer {
    height: 100%;
    display: none;
    background-size: cover;
}

#container {
    display: none;
    position: absolute;
    color: #ffffff;
    margin: auto;
    width: 100%;
    text-align: center;
    top: 15%;
}

#photoCredit {
    position: absolute;
    bottom: 0;
    left: 0;
}

#helloText {
    font-size: 5.5rem;
    font-weight: 500;
    margin: auto;
    /*
    make elem width == content width
    display: inline-block;
    */
    background-color: rgba(50, 50, 50, 0.6);
    padding: .4rem 1.5rem .4rem 1.5rem;
}

#usernameForm {
    font-size: 3.2rem;
    background-color: rgba(50, 50, 50, 0.6);
    padding: .4rem 1.5rem .4rem 1.5rem;
}

#usernameForm input {
    font-size: 3.2rem;
}

input[type="text"] {
    color: #ffffff;
    background-color: transparent;
    padding: .5rem;
    border: none;
    border-bottom: solid 2px #d5d5d5;
    transition: border 0.3s;
    box-shadow: none;
    width: 15rem;
}

input[type="text"]:focus {
    transition: all .3s;
    outline: none;
    border-bottom: solid 2px #ffffff;
}

#settings-container {
    display: none;
    position: absolute;
    top: 30%;
    left: 50%;
}

#settings {
    padding: 1rem;
    position: relative;
    left: -50%;
    background-color: rgba(228, 228, 228, 0.8);
}

.setting-item {
    padding: 1rem;
    transition: all ease-in .2s;
    border: 1px solid black;
    background-color: transparent;
    min-width: 11rem;
}

#settings-close-btn {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    background-color: transparent;
}

#settings-btn {
    position: absolute;
    bottom: 0;
    right: 0;
}
