html, body {
    min-height: 100%;
    height: 100%;
    margin: 0;
}

#photoContainer {
    height: 100%;
    display: none;
}

#photoContainer h1 {
    color: white;
    margin: auto;
    font-size: 150px;
    width: 100%;
    text-align: center;
}
